<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Регистрация | Angular Соцсеть</title>
  <link rel="stylesheet" href="/static/Regostr.css">
</head>
<body>
  <div class="header">Angular Соцсеть</div>
  <div class="container">
    <form method="POST" action="/" id="regForm">
      <h2>Регистрация</h2>
      <input type="text" name="useremail" id="username" placeholder="Email" required>
      <input type="password" name="password" id="password" placeholder="Пароль" required>
      <button type="submit">Зарегистрироваться</button>
    </form>
  </div>
  <script src="/static/Registr.js"></script>
</body>
</html>