<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Регистрация | Anglure</title>
  <link rel="stylesheet" href="static/CSS/User_name.css">
  <link rel="shortcut icon" href="/static/img/photo_2025-07-20_22-47-48.jpg" type="image/x-icon">
</head>_
<body>
  <div class="header">Anglure</div>
  <div class="container">
    <form method="POST" action="/usname" id="userForm">
      <h2>Добро пожаловать!</h2>
      <input type="text" name="username" id="username" placeholder="Имя пользователя" required>
      <input type="text" name="region" id="region" placeholder="Ваш регион" required>
      <button type="submit">Сохранить и перейти в чат</button>
    </form>
  </div>
  <script src="/static/JavaScript/User_name.js"></script>
</body>
</html>